<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <title><%= drawing.name %> - Cristina Cojocaru</title>
  <meta name="description" content="<%= drawing.name %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="apple-touch-icon" href="icon.png">

  <style>
    #img {
    display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 75%;
      max-height: 75%;
    }

    #title {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-style: italic;
    }

    .nav {
      position: absolute;
      bottom: 15px;
      right: 15px;
    }
  </style>
</head>

<body>
    <a href="/"><h1>Cristina Cojocaru</h1></a>
    <div>
      <img id="img" src="/images/<%= drawing.file %>" />
      <div>
        <h2 id="title"><%= drawing.name %></strong></h2>
      </div>
    </div>


    <div class="nav">
      <% if (prevD) { %>
        <a href="/drawings/<%= prevD.link %>"><button>< Prev </button></a>
      <% } %>
      <a href="/drawings.html"><button>All</button></a>
      <% if (nextD) { %>
        <a href="/drawings/<%= nextD.link %>"><button>Next ></button></a>
      <% } %>
    </div>
</body>
</html>
