<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<meta property="og:title" content="" />
		<meta property="og:type" content="" />
		<meta property="og:url" content="" />
		<meta property="og:image" content="" />

		<!-- <link rel="manifest" href="site.webmanifest"> -->
		<link rel="apple-touch-icon" href="icon.png" />
		<!-- Place favicon.ico in the root directory -->

		<title>Drawings by Cristina Cojocaru</title>

		<style>
			.drawings {
				display: flex;
				flex-wrap: wrap;
			}
			.drawing {
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 100%;
				/* margin-left: 15px; */
				margin: 10px;
				opacity: 1;
				transition: 0.3s;
			}
			.drawing:hover {
				opacity: 0.6;
			}
			.thumb {
				width: 150px;
				border-radius: 15px;
			}
			.name {
				position: absolute;
				bottom: 5px;
			}
		</style>
	</head>

	<body>
		<a href="/"><h1>Cristina Cojocaru</h1></a>
		<h2>Drawings</h2>
		<div class="drawings">
			<% drawings.forEach((drawing) => { %>
			<div class="">
				<a href="/drawings/<%= drawing.link %>">
					<div class="drawing">
						<img
							class="thumb"
							src="/images/<%= drawing.thumb_150 %>"
						/>
						<p class="name"><%= drawing.name %></p>
					</div>
				</a>
			</div>
			<% }); %>
		</div>
	</body>
</html>
